<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPOExcelFile2SQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SPOExcelFile2SQL.Properties.Settings.SQLConnStr" connectionString="Data Source=xyz;Initial Catalog=ITShowcase;Integrated Security=True;Connect Timeout=600" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SQLConnStr" value="Server=AZFCSUSITPRDSQL;Database=ITShowcase;User ID=Redmond\chicken;Password=chickenSandwich;Trusted_Connection=False;Encrypt=True;" />
    <add key="ITShowcaseFY17Budget_ExcelFilePath" value="https://microsoft.sharepoint.com/teams/CRURBM/Shared Documents/Budget Documents/IT Showcase FY17 Budget.xlsx" />
    <add key="ITShowcaseFY17Budget_ExcelRowsSkip"  value="10" />
    <add key="ITShowcaseFY17Budget_ExcelColsSkip"  value="1" />
    <add key="ITShowcaseFY17Budget_ExcelSheet"  value="ITS Mercury Table" />                                               
    <add key="ITShowcaseFY17Budget_DBTable"  value="FinanceMercury" />
    <add key="FY16VendorBudgetUp_ExcelFilePath" value="https://microsoft.sharepoint.com/teams/CRURBM/Shared Documents/Budget Documents/FY16 Budget Archives/FY16-ITSC Vendor Budget Tracker Updated.xlsx" />
    <add key="FY16VendorBudgetUp_ExcelRowsSkip"  value="0" />
    <add key="FY16VendorBudgetUp_ExcelColsSkip"  value="0" />
    <add key="FY16VendorBudgetUp_ExcelSheet"  value="Budget Items" />
    <add key="FY16VendorBudgetUp_DBTable"  value="FinanceVendorBudget" />
    <add key="FY17VendorBudget_ExcelFilePath"  value="https://microsoft.sharepoint.com/teams/CRURBM/Shared%20Documents/Budget%20Documents/FY17-ITSC Vendor Budget Tracker.xlsx" />
    <add key="FY17VendorBudget_ExcelRowsSkip"  value="0" />
    <add key="FY17VendorBudget_ExcelColsSkip"  value="0" />
    <add key="FY17VendorBudget_ExcelSheet"  value="Budget Items" />
    <add key="FY17VendorBudget_DBTable"  value="FinanceVendorBudget" />
    <add key="O365UserName" value="chicken@microsoft.com"/>
    <add key="O365Password" value="chickenSandwich"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <SPOExcelFile2SQL.Properties.Settings>
      <setting name="SPOExcelFile2SQL_SPWSLists_Lists" serializeAs="String">
        <value>https://microsoft.sharepoint.com/_vti_bin/Lists.asmx</value>
      </setting>
    </SPOExcelFile2SQL.Properties.Settings>
  </applicationSettings>
</configuration>